<div class="modal-header">
    <h1><i class="icon-pencil"></i> Editing document : {{ formDocument.name }}</h1>
</div>

<div class="modal-body">
    <form novalidate name="documentForm">
        <fieldset class="row-fluid">
            <div class="control-group span6">
                <label for="document-name" class="control-label">Name</label>
                <input type="text" class="span12" name="template-name" ng-model="formDocument.name" required value="{{ formDocument.name }}" />
            </div>
            
            <div class="control-group span6">
                <label for="document-type">Type</label>
                <select name="document-type" id="document-type" class="span12">
                    <option value=""></option>
                    <option value="text">Text</option>
                    <option value="sound">Sound</option>
                    <option value="picture">Picture</option>
                    <option value="video">Video</option>
                    <option value="simulation">Simulation</option>
                    <option value="test">Test</option>
                    <option value="other">Other</option>
                    <option value="indifferent">Indifferent</option>
                </select>
            </div>
        </fieldset>
        
        <fieldset class="row-fluid">
            <label class="checkbox"> 
                <input type="checkbox" name="is-digital" id="is-digital" ng-model="formDocument.isDigital" />
                Is digital ?
            </label>
            
            <div class="control-group" ng-show="formDocument.isDigital">
                <br/>
                <label for="resource-url">Tip document URL</label>
                <input type="text" name="resource-url" id="resource-url" ng-model="formDocument.url" value="" class="span12" />
                
                <label><strong>OR</strong> select a resource in database</label>
                <button class="btn"><i class="icon-search"></i> Browse resources</button>
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="save(formDocument)" ng-disabled="!documentForm.$valid">Save document</button>
</div>