<div class="modal-header">
    <h3>Saving step : {{ step.name }}</h3>
</div>

<div class="modal-body">
    <form novalidate name="stepForm">
        <fieldset>
            <label for="step-name">Name <span>*</span></label>
            <input type="text" id="step-name" ng-model="formStep.name" value="{{ formStep.name }}" required />
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="save(formStep)" ng-disabled="!stepForm.$valid">Save step</button>
</div>