/* app css stylesheet */
body {
    background-color: #CCCCCC;
}

.bg-layer {
    padding: 14px 0;
    margin: 10px 5%;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px #999999;
}

li {
    list-style: none;
}

h1 {
    font-size:16px;
}

.tree-item {
    cursor: pointer;
}

.top-toolbar .divider {
    display: inline-block;
    line-height: 28px;
    font-size: 24px;
    padding: 0 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#zone li{
    position:relative;
}

ul {
    min-height: 5px;
}

form {
    margin: 0 0 5px;
}

.placeholder {
    background: #CCCCCC;
    min-height: 10px;
    border: 1px dashed #010101;
    margin-bottom: 15px;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}
