/* app css stylesheet */
.modal-backdrop {
	z-index: 1;
}

img {
    border: none;
}

h1 {
    font-size: 20px;
    margin: 4px 0;
    line-height: 24px;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    margin: 4px 0;
    line-height: 22px;
}

h3 {
    font-size: 16px;
    margin: 4px 0;
    line-height: 20px;
}

body {
    background: #fff url(http://dev.claroline.net/bundles/clarolinecore/images/themes/claroline/bg2.jpg) repeat-x;
}

.step-editor {
    padding: 10px;
    margin: 26px auto;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(221, 221, 221);
}

.page-title {
    margin-bottom: 10px;
    margin-left: 30px;
    vertical-align: middle;
}

li {
    list-style: none;
}

.tree-item {
    cursor: pointer;
    line-height: 24px;
}

.top-toolbar .divider {
    display: inline-block;
    line-height: 28px;
    font-size: 24px;
    padding: 0 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#zone li{
    position:relative;
}

ul {
    min-height: 5px;
}

form {
    margin: 0 0 5px;
}

.placeholder {
    background: #CCCCCC;
    min-height: 10px;
    border: 1px dashed #010101;
    margin-bottom: 15px;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

.btn-templates {
    position: fixed;
    left: -42px;
    top: 172px;
    margin: 0;
    
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top -right-radius: 0;
    
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}