/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}






li {
    list-style: none;
}
.minimized > ul > li { display:none; }
.minimized > ul {   border: 0 none transparent; }


#zone li{
  position:relative;
}

ul {
  min-height: 5px;/*
  border: 1px solid red;*/
}

form {
  margin: 0 0 5px;
}

.placeholder {
  background: #CCCCCC;
  min-height: 10px;
  border: 1px dashed #010101;
  margin-bottom: 15px;
}


#page-loader {
  font-size: 140px;
  position: absolute;
  top: 500px;
  left: 30%;
  color: #f00;
  z-index: 9999;
}

input.ng-invalid {
  border: 1px solid red;
}

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}