<div class="modal-header">
    <h3>Activity list</h3>
    </div>
    <div class="modal-body">
    <!--
    <p>Enter a value to pass to <code>close</code> as the result: <input ng-model="result" /></p>
    -->
	<ul>
		<li>
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Instancié</th>
				</tr>
				<tr>
					<td><h5>One</h5></td>
					<td>
						<span class="label label-success"><i class="icon-thumbs-up"></i> Instancié</span>
					</td>
				</tr>
			</table>
		</li>
	</ul>
    </div>
    <div class="modal-footer">
    <button ng-click="close(result)" class="btn btn-primary" >Close</button>
</div>