<div class="modal-header">
    <h3>Saving template</h3>
</div>
<div class="modal-body">
<form action="">
    <fieldset>
        <label for="template-name">Name</label><input type="text" name="template-name">
        <label for="template-description">Description</label><textarea name="template-description" id="template-description" cols="30" rows="10"></textarea>
        <label class="checkbox">
            <input type="checkbox">
            Save activites too ?
        </label>
    </fieldset>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>
