<h1>Path List</h1>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(id, path) in paths">
			<td>
				{{ id }}
			</td>
			<td>
				{{ path.name }}
			</td>
			<td>
				{{ path.description }}
			</td>
			<td>
				<a href="#/tree/edit/{{ id }}" class="btn btn-small"><i class="icon-edit"></i></a>
				<button class="btn btn-danger btn-small" ng-click="delete(id)"><i class="icon-trash"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<a href="#/tree" class="btn btn-primary"><i class="icon-plus"></i></a>