<tabset>
    <tab>
        <tab-heading>
            <a href="#/path/global/{{ path.id }}">Global</a>
            <!-- CONTENT -->
            <div ng-include="partial/global.html"></div>
            <div id="primary-sidebar"  style="display:none" >
                <div ng-include="'partials/primary-sidebar.html'" ng-controller="TemplateController"></div>
                <a id="primary-sidebar-close" href="#" class="btn">Close</a>
            </div>
            <div id="secondary-sidebar"  style="display:none" >
                <div ng-include="'partials/primary-sidebar.html'" ng-controller="TemplateController"></div>
                <a id="secondary-sidebar-close" href="#" class="btn">Close</a>
            </div>
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            <a href="#/path/skills/{{ path.id }}">Skills</a>
            <!-- CONTENT -->
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            <a href="#/path/scenario/{{ path.id }}">Scenario</a>
            <!-- CONTENT -->
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            <a href="#/path/validation/{{ path.id }}">Validation</a>
             <!-- CONTENT -->
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            <a href="#/path/planner/{{ path.id }}">Planner</a>
            <!-- CONTENT -->
        </tab-heading>
    </tab>
</tabset>