<h1>Template List</h1>
<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Index</th>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(index, template) in templates">
			<td>
				{{ index }}
			</td>
			<td>
				{{ template.id }}
			</td>
			<td>
				{{ template.name }}
			</td>
			<td>
				{{ template.description }}
			</td>
			<td>
				<a href="#/template/edit/{{ template.id }}" class="btn btn-small" tooltip="Edit"><i class="icon-edit"></i></a>
				<button class="btn btn-danger btn-small" ng-click="delete(template, id)" tooltip="Delete"><i class="icon-trash"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<a href="#/template/edit" class="btn btn-primary"><i class="icon-plus"></i></a>