<h1>Template List</h1>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(id, template) in templates">
			<td>
				{{ id }}
			</td>
			<td>
				{{ template.name }}
			</td>
			<td>
				{{ template.description }}
			</td>
			<td>
				<a href="#/view/{{ id }}" class="btn btn-small"><i class="icon-edit"></i></a>
				<button class="btn btn-danger btn-small" ng-click="remove(id)"><i class="icon-trash"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<a href="#/tree/" class="btn btn-primary"><i class="icon-plus"></i></a>