<a class="btn" pageslide="left" ps-speed="0.5" href="#templates-sidebar" tooltip="List templates"><i class="icon-heart"></i></a>

<a href="#/path/list" class="btn" tooltip="List paths"><i class="icon-list"></i></a>
<button class="btn" ng-click="undo()" ng-disabled="undoDisabled" tooltip="Undo"><i class="icon-reply"></i></button>
<button class="btn" ng-click="redo()" ng-disabled="redoDisabled" tooltip="Redo"><i class="icon-share-alt"></i></button>
<button class="btn btn-primary" ng-click="save(path)" tooltip="Save"><i class="icon-save"></i></button>

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-ban-circle"></i>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-ban-circle"></i> Not started</a></li>
        <li><a href="#"><i class="icon-refresh"></i> In progress</a></li>
        <li><a href="#"><i class="icon-ok"></i> Completed</a></li>
    </ul>
</div>

<button class="btn btn-success pull-right" ng-click="deploy(path)" tooltip="Submit"><i class="icon-share"></i></button>