<form class="form-inline" >
    <i class="icon-move"></i>
    <input
        type="text"
        value="{{step.name}}"
        class="step-name"
        title="step.name"
        ng-model="step.name"
        ng-blur="rename()" ng-show="showEdit"/>
        <span ng-hide="showEdit">
        {{ step.name }}

        {{ showEdit }}
        </span>

        <i class="icon-list-alt" ng-click="openDialog(step)" tooltip="Activities list"></i>

        <i class="icon-plus" ng-click="addChild(step)" tooltip="Add a child"></i>

        <i class="icon-copy" ng-click="copy(step)" tooltip="Copy"></i>

        <i class="icon-paste" ng-click="paste(step)" ng-disabled="pasteDisabled" tooltip="Paste"></i>

        <i class="icon-heart" ng-click="openTemplateModal(step)" tooltip="Add to favorites"></i>

        <i class="icon-pencil" ng-model="showEdit" ng-init="showEdit=true" ng-click="showEdit=!showEdit" tooltip="Edit"></i>

        <i class="icon-trash" ng-click="remove(step)" tooltip="Delete"></i>

        <i class="icon-list" ng-click="removeChildren(step)" ng-show="step.children.length > 0"></i>

</form>
<ul ui-sortable="sortableOptions" ng-model="step.children">
    <li style="position:relative;"
        ng-repeat="step in step.children"
        ng-include="'partials/tree-item.html'"
        >
    </li>
</ul>