<div ng-include="'partials/navbar.html'" onload="activeTab = 'Scenario'"></div>

<div class="row-fluid">
    <div class="well well-small span6" id="zone">
        <ul>
            <li ng-repeat="step in path.steps" ng-include="'partials/tree-item.html'" ></li>
        </ul>
    </div>
	
    <div class="well well-small span6">
        <div class="pull-right" ng-show="previewStep != null">
            <button ng-click="openStepEdit(previewStep)" class="btn btn-small" tooltip="Edit step"><i class="icon-pencil"></i></button>
            <button class="btn btn-danger btn-small" ng-click="remove(previewStep, true)" tooltip="Delete step">
                <i class="icon-trash"></i>
            </button>
        </div>
        
        <h2>{{ previewStep.name }}</h2>
        
        <h3>Instructions</h3>
        <p>{{ previewStep.instructions }}</p>
        
        <h3><i class="icon-briefcase"></i> Documents</h3>
        <ul>
            <li>Vidéo (Démo)</li>
            <li>Image (Démo)</li>
            <li>Test (Démo)</li>
        </ul>
        
        <h3><i class="icon-wrench"></i> Tools</h3>
        <ul>
            <li>Forum (Démo)</li>
            <li>Tchat (Démo)</li>
            <li>Deposit files (Démo)</li>
        </ul>
    </div>
</div>